@use "@angular/material" as mat;

* {
  box-sizing: border-box;
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$spring-green-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
